{% load static %} {% include "includes/header.html" %} {% include "includes/sidebar.html" %}
<div class="page-wrapper">
   <div class="content container-fluid">

      <div class="page-header">
         <div class="row align-items-center">
            <div class="col">
               <h3 class="page-title">Add Group Activity</h3>
               <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="Groups.html">Group Activity</a></li>
                  <li class="breadcrumb-item active">Add Group Activity</li>
               </ul>
            </div>
         </div>

         <div class="row">
            <div class="col-sm-12">
               <div class="card">
                  <div class="card-body">
                     <form method="POST">
                        {% csrf_token %}
                        <div class="row">
                           <div class="col-12">
                              <h5 class="form-title"><span>Group Information</span></h5>
                           </div>
                           
                           <label>Work Description</label>
                           <input type="text" name="name" class="form-control">
                           <br><br>
                           <h2>Division of work to all members</h2>
                           <div class="table-responsive">
                              <table id="example1" class="table table-hover table-center mb-0">
                                 <thead>
                                    <tr>
                                       <th>ID</th>
                                       <th>student Name</th>
                                       <th>Work Description</th>
                                       <th>Assigned Task</th>
                                       <th>Presentation Date</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    {% for stud_gp in students_group %}
                                    <tr>
                                       <td>{{stud_gp.student.registration_no}}</td>
                                       <td>{{stud_gp.student.name}}</td>
                                       <td>
                                          <input type="text" name="work_{{stud_gp.student.id}}" class="form-control">
                                       </td><td>
                                          <input type="text" name="task_{{stud_gp.student.id}}" class="form-control">
                                       </td>
                                       <td>
                                          <input type="date" name="date_{{stud_gp.student.id}}" class="form-control">
                                       </td>

                                    </tr>
                                    {% endfor %}
                                 </tbody>
                              </table>
                           </div>
                           <div class="col-12">
                              <button type="submit" class="btn btn-primary">Submit</button>
                           </div>
                     </form>
                  </div>
               </div>

            </div>
         </div>
      </div>
   </div>
</div>
{% include "includes/footer.html" %}