{% load static %} {% include "includes/elearning-template.html" %}
<style>
    .Capitalize {
        text-transform: capitalize;
    }
</style>
<div class="card-body">
    <!-- Conversations are loaded here -->
    <div class="direct-chat-messages">
        <!-- Message. Default to the left -->
        {% for msg in messages %}
        <!-- Message to the right -->
        <div class="direct-chat-msg left">
            <div class="direct-chat-infos clearfix">
                <span class="direct-chat-timestamp float-left">{{msg.date_created |timesince}} ago</span>
            </div>
            <!-- /.direct-chat-infos -->
            <img class="direct-chat-img" src="{% static 'admin/dist/img/user3-128x128.jpg' %}" alt="message user image" />
            <!-- /.direct-chat-img -->
            <div class="direct-chat-text w-50">
                <div>
                    <span class="fs-6 text-bold">{{msg.sender.email}}</span>
                </div>
                {{msg.message}}
            </div>
            <!-- /.direct-chat-text -->
            {% endfor %}

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form method="POST">
                {% csrf_token %}

                <div class="input-group">
                    <input type="text" name="message" placeholder="Type Message ..." class="form-control" />
                    <span class="input-group-append">
          <input type="submit" value="send" class="btn btn-primary"> </span>
                </div>
            </form>

        </div>
    </div>
</div>

</div>
</div>

{% include "includes/footer.html" %}