{% load static %} {% include "includes/elearning-template.html" %} 

                <div class="card-body">

                  <form method = "POST" enctype="multipart/form-data">
                     {% csrf_token %}
                                              <div class="row">
                         <div class="col-12">
                            <h5 class="form-title"><span>Edit Book Information</span></h5>
                         </div>
                         <div class="col-12 col-sm-6">
                            <div class="form-group">
                               <label>Book Name</label>
                               <input type="text" value="{{books.name}}" name ="name"  class="form-control">
                            </div>
                         </div>
                         <div class="col-12 col-sm-6">
                            <div class="form-group">
                               <label>Author</label>
                               <input type="text" value="{{books.author}}" name = "author" class="form-control">
                            </div>
                         </div>
                         <div class="col-12 col-sm-6">
                            <div class="form-group">
                               <label>Description</label>
                               <input type="text" value="{{books.description}}" name="description" class="form-control">
                            </div>
                         </div>
                         <div class="col-12 col-sm-6">
                            <div class="form-group">
                               <label>Type</label>
                               <select name = "type" class="form-control">
                                  <option>Select type</option>
                                  <option value="Reference">Reference</option>
                                  <option value="Teaching">Teaching</option>
                               </select>
                            </div>
                         </div>
                         <div class="col-12 col-sm-6">
                            <div class="form-group">
                               <label>Book file</label>
                               <div>
                                  <input type="file"  name="file" class="form-control">
                               </div>
                            </div>
                         </div>
                         <div class="col-12">
                            <button type="submit" class="btn btn-primary">Submit</button>
                         </div>
                      </div>
                   </form>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
</div>

{% load static %} {% include "includes/footer.html" %}