{% load static %} {% include "includes/header.html" %} {% include "includes/sidebar.html" %}
<style>
  .margin2 {
    margin: 10px 60px;
  }
</style>
<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="page-header">
      <div class="row">
        <div class="col-md-3">

          <!-- Profile Image -->
          <div class="card card-primary card-outline">
            <div class="card-body box-profile">
              <div class="text-center">
                <img class="profile-user-img img-fluid img-circle" src="{% static group.file.url %}"
                  alt="Group profile picture">
              </div>

              <h3 class="profile-username text-center">{{group.name}}</h3>

              <p class="text-muted text-center">{{group.subject.subject_name}}</p>

              <ul class="list-group list-group-unbordered mb-3">
                <li class="list-group-item">
                  <b>Task assigned</b> <a class="float-right">{{assigment_assigned}}</a>
                </li>
                <li class="list-group-item">
                  <b>Task complited</b> <a class="float-right">{{assigmentSubmitted}}</a>
                </li>
                <li class="list-group-item">
                  <b>submited Task</b> <a class="float-right">{{assigmentSubmitted}}</a>
                </li>
                <li class="list-group-item">
                  <b>group Marks</b> <a class="float-right">{{marks}}</a>
                </li>
              </ul>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->

          <!-- About Me Box -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Group Description</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">

              <p class="text-muted">
                {{group.description}}
              </p>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="card">
            <div class="card-header p-2">
              <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Activity</a></li>
                <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Tasks</a></li>
                <li class="nav-item"><a class="nav-link" href="#Members" data-toggle="tab">Members</a></li>
                <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Settings</a></li>
              </ul>
            </div><!-- /.card-header -->

            <div class="card-body">
              <div class="tab-content">
                <div class="active tab-pane" id="activity">
                  <div class="compose-btn btn">
                    <a href="{% url 'groupPost' group.id %}" class="btn btn-primary btn-block">
                      Create Post
                    </a>
                  </div>
                  <!-- Post -->

                  {% for post_com in post_comment %}
                  <div class="post">
                    <div class="user-block">
                      <img class="img-circle img-bordered-sm" {% if post_com.post.photo %}
                        src="{% static post_com.post.photo.url %}" {% else %}
                        src="{% static 'assets/img/profiles/avatar-01.jpg' %}" {% endif %} alt="user image">
                      <span class="username">
                        <a href="#">{{post_com.post.sender.first_name}}</a>
                        <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                      </span>
                      <span class="description">Shared publicly - {{post_com.post.date_created |timesince}} ago</span>
                    </div>
                    <!-- /.user-block -->
                    <p>
                      {{post_com.post.message}}
                    </p>
                    <p>
                      <a href="#" class="link-black text-sm mr-2"><i class="fas fa-share mr-1"></i> Share</a>
                      <a href="{% url 'groupPostLikes' post_com.post.id %}" class="link-black text-sm"><i
                          class="far fa-thumbs-up mr-1"></i> Like({{no_likes}})</a>
                      <span class="float-right">
                        <a href="#" class="link-black text-sm">
                          <i class="far fa-comments mr-1"></i> Comments ({{post_com.no_comments}})
                        </a>
                      </span>
                    </p>

                    {% for comment in post_com.comments %}
                    {% for us in users %}
                    {% if us.user == comment.sender %}
                    <div class="post margin2">
                      <div class="user-block">
                        <img class="img-circle img-bordered-sm" {% if us.photo %} src="{% static us.photo.url %}" {%
                          else %} src="{% static 'assets/img/profiles/avatar-01.jpg' %}" {% endif %} alt="user image">

                        <span class="username">
                          <a href="#">{{comment.sender.first_name}}</a>
                          <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                        </span>
                        <span class="description">Shared publicly - {{comment.post.date_created |timesince}} ago</span>
                      </div>
                      <!-- /.user-block -->
                      <p>
                        {{comment.message}}
                      </p>
                      <p>
                        <a href="#" class="link-black text-sm mr-2"><i class="fas fa-share mr-1"></i> Share</a>
                        <a href="#" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i> Like</a>
                      </p>
                    </div>{% endif %}
                    {% endfor %}
                    {% endfor %}

                    <form action="{% url 'groupContent'  post_com.post.id %}" method="POST">
                      {% csrf_token %}
                      <div class="input-group">
                        <input type="text" name="message" placeholder="Type a comment here ...." class="form-control" />
                        <span class="input-group-append">
                          <input type="submit" value="send" class="btn btn-primary"> </span>
                      </div>

                    </form>
                  </div>
                  {% endfor %}
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="timeline">
                  <div class="compose-btn btn">
                    <a href="{% url 'AddGroupActivities' 1 %}" class="btn btn-primary btn-block">
                      Create Activities
                    </a>
                  </div>
                  <!-- The timeline -->
                  {% for task in tasks %}
                  <div class="timeline timeline-inverse">
                    <!-- timeline time label -->
                    <div class="time-label">
                      <span class="bg-danger">
                        {{task.date_created}}
                      </span>
                    </div>
                    <!-- /.timeline-label -->
                    <!-- timeline item -->
                    <div>
                      <i class="fas fa-envelope bg-primary"></i>

                      <div class="timeline-item">
                        <span class="time"><i class="far fa-clock"></i> 12:05</span>

                        <h3 class="timeline-header"><a href="#">{{task.work.sender.first_name}}</a> working segmentation</h3>

                        <div class="timeline-body">
                          Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                          weebly ning heekya handango imeem plugg dopplr jibjab, movity
                          jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                          quora plaxo ideeli hulu weebly balihoo...
                        </div>
                        <div class="timeline-footer">
                          <a href="#" class="btn btn-primary btn-sm">Read more</a>
                          <a href="#" class="btn btn-danger btn-sm">Delete</a>
                        </div>
                      </div>
                    </div>
                    <!-- END timeline item -->
                    <!-- timeline item -->
                    <div>
                      <i class="fas fa-user bg-info"></i>

                      <div class="timeline-item">
                        <span class="time"><i class="far fa-clock"></i> 5 mins ago</span>

                        <h3 class="timeline-header border-0"><a href="#">{{task.groupStudent.student.name}}</a> {{task.work.task}}
                        </h3>
                      </div>

                      <div class="timeline-item">
                        <span class="time"><i class="far fa-clock"></i> 5 mins ago</span>

                        <h3 class="timeline-header border-0"><a href="#">Sarah Young</a> to prepare a document
                        </h3>
                      </div>

                      <div class="timeline-item">
                        <span class="time"><i class="far fa-clock"></i> 5 mins ago</span>

                        <h3 class="timeline-header border-0"><a href="#">Sarah Young</a> submit assigment
                        </h3>
                      </div>

                    </div>
                  </div>
                  {% endfor %}
                </div>
                <!-- /.tab-pane -->

                <div class="tab-pane" id="Members">

                  <div class="table-responsive">
                    <table id="example1" class="table table-hover table-center mb-0">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Photo</th>
                          <th>Name</th>
                          <th>Mobile Number</th>
                          <th class="text-right">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for st in students_data %}
                        <tr>
                          <td>{{st.student.registration_no}}</td>
                          <td>
                            <h2 class="table-avatar">
                              <a href="student-details.html" class="avatar avatar-sm mr-2"><img
                                  class="avatar-img rounded-circle" {% if st.photo %}
                                  src="{% static st.student.photo.url %}">
                                {% else %}
                                src="{% static 'assets/img/profiles/avatar-01.jpg' %}">
                                {% endif %}
                              </a>
                            </h2>
                          </td>
                          <th>{{st.student.name}}</th>
                          <td>{{st.student.phone_number}}</td>
                          <td class="text-right">
                            <div class="actions">

                            </div>
                          </td>
                        </tr>
                        {% endfor %}
                        <tr>
                          <td colspan="3">
                            <div class="actions">

                              <a href="{% url 'LeftStudentGroup' group.id %}" class="btn btn-sm bg-danger-light">
                                <i class="fas fa-trash">Left the group</i>
                              </a>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <!-- /.tab-pane -->

                <div class="tab-pane" id="settings">
                  <form method="POST" class="form-horizontal">
                    {% csrf_token %}
                    <div class="form-group row">
                      <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                      <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputName" placeholder="Name">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                      <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputName2" class="col-sm-2 col-form-label">Name</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputName2" placeholder="Name">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputExperience" class="col-sm-2 col-form-label">Experience</label>
                      <div class="col-sm-10">
                        <textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputSkills" class="col-sm-2 col-form-label">Skills</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputSkills" placeholder="Skills">
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="offset-sm-2 col-sm-10">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="offset-sm-2 col-sm-10">
                        <button type="submit" class="btn btn-danger">Submit</button>
                      </div>
                    </div>
                  </form>
                </div>

              </div>
              <!-- /.tab-content -->
            </div><!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  {% include "includes/footer.html" %}