{% load static %} {% include "includes/elearning-template.html" %}

<div class="card-body">

   <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row">
         <div class="col-12">
            <h5 class="form-title"><span>Submit Assigment</span></h5>
         </div>
         <div class="col-12 col-sm-6">
            <div class="form-group">
               <label>Assigment file</label>
               <div>
                  <input type="file" name="file_submitted" class="form-control">
               </div>
            </div>
         </div>
         <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit</button>
         </div>
      </div>
   </form>
</div>

{% load static %} {% include "includes/footer.html" %}