{% load static %} {% include "includes/header.html" %} {% include "includes/sidebar.html" %}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Topics</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active">Topics</li>
                    </ul>
                </div>                                    
                {% if perms.OnlineLearning.add_topic %}

                <div class="col-auto text-right float-right ml-auto">
                    <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
                    <a href="{% url 'TopicAdd' subject.id %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="card card-table">
                <div>
                    <table id="example1" class="table table-hover table-center mb-0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Topic Name</th>
                                <th>Topic Description</th>
                                <th>Covered</th>
                                <th class="text-right">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tp in Topic_info %}
                            <tr>
                                <td>{{tp.id}}</td>
                                <td>
                                    <a href="{% url 'ElearningPage' subject.id tp.id %}">{{tp.name}}</a>

                                </td>
                                <td>{{tp.description}}</td>
                                <td></td>
                                <td class="text-right">
                                    <div class="actions">
                                        {% if perms.OnlineLearning.change_topic %}
                                        <a href="{% url 'TopicEdit' subject.id tp.id %}" class="btn btn-sm bg-success-light mr-2">
                                            <i class="fas fa-pen"></i>
                                        </a>
                                        {% endif %}
                                        {% if perms.OnlineLearning.delete_topic %}
                                        <a class="btn btn-sm bg-success-light mr-2" data-toggle="modal" data-target="#modal-default_delete_{{tp.id}}" href="#edit_personal_details">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                        {% endif %}

                                </td>
                            </tr>

                            <div class="modal fade" id="modal-default_delete_{{tp.id}}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Delete Info</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                       </button>
                                        </div>
                                        <div class="modal-body">
                                            <h3>Are you sure you want to delete topic of
                                                <b>{{tp.name}}</b>
                                            </h3>
                                            <a href="{% url 'TopicDelete' subject.id tp.id %}" class="btn btn-sm bg-danger-light text-right">
                                          Delete
                                       </a>
                                        </div>
                                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                    </div>
                    </div>
                    </div>
                    <div class="row">
                        <h3 class="page-title">Groups</h3>
                    </div>
                    <div class="col-auto text-right float-right ml-auto">
                        <div class="compose-btn">
                            <a class="btn btn-sm bg-success-light mr-2" data-toggle="modal" data-target="#modal-default_add_group" href="#edit_personal_details">
                              Create Group
               </a>
                        </div>
                    </div>


                    <div class="modal fade" id="modal-default_add_group">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h3 class="page-title">Add Group</h3>
                                            <ul class="breadcrumb">
                                                <li class="breadcrumb-item"><a href="Groups.html">Group</a></li>
                                                <li class="breadcrumb-item active">Add Group</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
     <span aria-hidden="true">&times;</span>
  </button>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" action="{% url 'Addgroup' subject.id %}" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-12">
                                                <h5 class="form-title"><span>Group Information</span></h5>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label>Group Name</label>
                                                    <input type="text" name="name" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label>Group Number</label>
                                                    <input type="text" name="Group_number" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label>Group Logo</label>
                                                    <input type="file" name="logo" class="form-control">
                                                </div>
                                            </div>

                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label>Group type</label>
                                                    <select name="type_group" class="form-control">
                                                    <option value="Private">Private</option>
                                                    <option value="Public">Public</option>

                                                </select>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                    {% for gr in groups %}
                    <div class="row">
                        <div class="col-sm-12">
                            <p>
                                <ul>
                                    <li class="active">
                                        <div class="col-auto text-right float-left ml-12">
                                            <a href="{% url 'groupContent' gr.id %}">
                                                <span class="user-img"><img class="rounded-circle" src="{% static gr.file.url %}" width="31"
                              alt="{{request.user.username}}">
                        </span> {{gr.name}} <span class="mail-count">(<b>5</b>)</span>
                                            </a>
                                        </div>
                                        {% if not is_student_present %}
                                        <div class="col-auto text-right float-left ml-12">
                                            <a href="{% url 'JoinToGroup' gr.id %}" class="btn btn-primary">
                        Join Group
                     </a>
                                        </div>
                                        {% endif %}

                                    </li>
                                </ul>
                            </p>
                        </div>


                    </div>
                    {% endfor %}
                </div>
            </div>
            {% load static %} {% include "includes/footer.html" %}