{% load static %} {% include "includes/elearning-template.html" %}
<style>
    .down-h5 {
        margin-top: 50px;
        margin-left: 50px;
        font-weight: bold;
    }
</style>
<br>
<br>
{% if perms.OnlineLearning.add_tutorial %}

<div class="col-auto text-right float-right ml-auto">
    <a href="{% url 'TutorialAdd' subject.id topic.id %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
</div>
{% endif %}

<p class="col-12 float-right">
    <h5 class="form-title"><span>{{tutorial.title}}</span></h5>
</p>
<video src="{{tutorial.file.url}}" controls width="100%" id="tutorial">
    Tutorial</video>
</div>

<div class="col-auto text-right float-left ml-auto">
    <a href="{% url 'PreviousPage' subject.id topic.id tutorial.id %}" class="btn btn-primary">Previous</a>
</div>
{% if video_is_completed %}
<div class="col-auto text-right float-right ml-auto">
    <a href="{% url 'NextTuturial' subject.id topic.id tutorial.id %}" class="btn btn-primary">Next</a>
</div>

{% endif %}
<div class="col-auto text-right float-center ml-auto">
    <div class="actions">
        {% if perms.OnlineLearning.change_tutorial %}

        <a href="{% url 'TutorialEdit' subject.id topic.id tutorial.id %}" class="btn btn-sm bg-success-light mr-2">
            <i class="fas fa-pen"></i>
        </a>
        {% endif %}
        {% if perms.OnlineLearning.delete_tutorial %}
        <a href="#" class="btn btn-sm bg-danger-light">
            <i class="fas fa-trash"></i>
        </a>
        {% endif %}
    </div>

</div>
<br>
<br>
<form>
    {% csrf_token %}
</form>
<p class="col-12">
    <h5 class="form-title"><span>Video description</span></h5>
    <p>{{tutorial.description}}</p>
</p>
</div>
</div>
</div>
</div>
</div>
<script>
    var video = document.getElementById('tutorial');
    var startTime;

    function calculateElapsedTime() {
        var endTime = performance.now();
        var elapsedTime = endTime - startTime;
        var elapsedTimeInSec = elapsedTime / 1000;
        var url = "{% url 'tutorialTrackingApi' tutorial.id  1 1 %}";
        var data = {
            time: elapsedTimeInSec,
            tutorialId: "{{tutorial.id}}"
        };

        fetch(url, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                        // Add any additional headers if required
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(result => {
                console.log("Data sent successfully:", result);
            })
            .catch(error => {
                console.error("Error sending data:", error);
            });
    }

    function checkingVideoTime() {
        var status = true;
        var currentTime = video.currentTime;
        var duration = video.duration;
        var videoPercentage = (currentTime / duration) * 100;

        if (status) {
            startTime = performance.now();
            status = false;
        }

        var endTime = performance.now();
        var elapsedTime = endTime - startTime;
        var elapsedTimeInSec = elapsedTime;

        var tutorialId = "{{tutorial.id}}"
        console.log(tutorialId)
        var url = `../../../tutorialTrackingApi/${tutorialId}/${currentTime}/${duration}`
        fetch(url)
            .then(response => response.json())
            .then(result => {
                console.log("Data sent successfully:", result);
            })
            .catch(error => {
                console.error("Error sending data:", error);
            });
    }

    video.addEventListener('timeupdate', checkingVideoTime);

    window.addEventListener('beforeunload', function(event) {
        event.preventDefault();
        calculateElapsedTime();
    });
    var url = `../../../GettingTutorialBsedOnUser`
    fetch(url)
        .then(response => response.json())
        .then(result => {
            console.log(result.data[0][0])
            video.currentTime = result.data[0][0];
        })
        .catch(error => {
            console.error("Error sending data:", error);
        });
</script>

{ % include "includes/footer.html" %}