{% load static %} {% include "includes/header.html" %} {% include "includes/sidebar.html" %}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Product Sold</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active">Sales</li>
                    </ul>
                </div>
                <div class="col-auto text-right float-right ml-auto">
                    <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
                    <a class="btn btn-sm bg-success-light mr-2" data-toggle="modal" data-target="#modal-default_add"
                        href="#edit_personal_details">
                        <i class="fas fa-plus"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table id="example1" class="table table-hover table-center mb-0">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Customer Name</th>
                            <th>Product</th>
                            <th>Shop</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Total Price</th>
                            <th class="text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sales in ProductSoldOuts %}
                        <tr>
                            <td>{{sales.date_created}}</td>
                            <td>{{sales.customer_name}}</td>
                            <th>{{sales.product.name}}</th>
                            <td>{{sales.shop.name}}</td>
                            <td>{{sales.quantity}} {{sales.measurement}}</td>
                            <td>{{sales.price}}</td>
                            <td>{{sales.total_price}}</td>
                            <td class="text-right">
                                <div class="actions">
                                    <a class="btn btn-sm bg-success-light mr-2" data-toggle="modal"
                                        data-target="#modal-default_edit_product_{{sales.id}}"
                                        href="#edit_personal_details"><i class="fas fa-pen"></i></a>
                                    <a class="btn btn-sm bg-success-light mr-2" data-toggle="modal"
                                        data-target="#modal-default_delete_{{sales.id}}"
                                        href="#edit_personal_details">
                                        <i class="fas fa-trash"></i></a>
                                </div>
                            </td>
                            <div class="modal fade" id="modal-default_edit_product_{{sales.id}}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Edit products Information</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="{% url 'EditProductSoldOut' sales.id %}"
                                                enctype="multipart/form-data" method="POST">
                                                {% csrf_token %}
                                                <label class="text text-left">Product</label>
                                                <select class="form-control" name="name">
                                                    {% for product in products %}
                                                    <option value="{{product.id}}">{{product.name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Quantity</label>
                                                <input type="number" name="quantity" value="{{sales.quantity}}" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>Price</label>
                                                <input type="number" name="price" value="{{sales.price}}" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>Customer Name</label>
                                                <input type="text" name="customer_name" value="{{sales.customer_name}}" class="form-control">
                                            </div><div class="modal-footer justify-content-between">
                                                    <button type="button" class="btn btn-default"
                                                        data-dismiss="modal">Close</button>
                                                    <input type="submit" class="btn btn-primary" value="Save changes">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="modal-default_delete_{{sales.id}}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Delete products Information</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <h3>Are you sure you want to delete product of
                                                <b>{{sales.product.name}}</b>
                                            </h3>
                                            <a href="{% url 'DeleteProductSoldOut' sales.id %}"
                                                class="btn btn-sm bg-danger-light text-right">
                                                Delete
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
                <div class="modal fade" id="modal-default_add">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Add imported products</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form enctype="multipart/form-data" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label class="text text-left">Product</label>

                                        <select class="form-control" name="name">
                                            {% for product in products %}
                                            <option value="{{product.id}}">{{product.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Quantity</label>
                                        <input type="number" name="quantity" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Price</label>
                                        <input type="number" name="price" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Customer Name</label>
                                        <input type="text" name="customer_name" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Measurement</label>
                                        <input type="text" name="measurement" class="form-control">
                                    </div>
                                    <div class="modal-footer justify-content-between">
                                            <button type="button" class="btn btn-default"
                                                data-dismiss="modal">Close</button>
                                            <input type="submit" class="btn btn-primary" value="Save changes">
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true,
            "lengthChange": false,
            "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    });
</script>
{% load static %} {% include "includes/footer.html" %}