{% load static %} {% include "includes/header.html" %} {% include "includes/sidebar.html" %}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">LIST OF ShOPS</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active">Shops</li>
                    </ul>
                </div>
                <div class="col-auto text-right float-right ml-auto">
                    <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
                    <a class="btn btn-sm bg-success-light mr-2" data-toggle="modal" data-target="#modal-default_add"
                        href="#edit_personal_details">
                        <i class="fas fa-plus"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table id="example1" class="table table-hover table-center mb-0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Location</th>
                            <th>Seller</th>
                            <th>owner</th>
                            <th class="text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for shop in Shops %}
                        <tr>
                            <td>{{shop.id}}</td>

                            <th>{{shop.name}}</th>
                            <td>{{shop.category.name}}</td>
                            <td>{{shop.location}}</td>
                            <td>{{shop.sellers}}</td>
                            <td>{{shop.owner}}</td>
                            <td class="text-right">
                                <div class="actions">
                                    <a class="btn btn-sm bg-success-light mr-2" data-toggle="modal"
                                        data-target="#modal-default_edit_shop_{{shop.id}}"
                                        href="#edit_personal_details"><i class="fas fa-pen"></i></a>
                                    <a class="btn btn-sm bg-success-light mr-2" data-toggle="modal"
                                        data-target="#modal-default_delete_{{shop.id}}" href="#edit_personal_details">
                                        <i class="fas fa-trash"></i></a>
                                </div>
                            </td>
                            <div class="modal fade" id="modal-default_edit_shop_{{shop.id}}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Edit Shops Information</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="{% url 'EditShop' shop.id %}" enctype="multipart/form-data"
                                                method="POST">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <label class="text text-left">Name</label>
                                                    <input type="text" name="name" value="{{shop.name}}"
                                                        class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label>Location</label>
                                                    <input type="text" name="location" value="{{shop.location}}"
                                                        class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label>Is main Branch</label>
                                                    <input type="checkbox" value="{{shop.is_main_branch}}"
                                                        name="is_main_branch" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label>Category</label>
                                                    <select class="form-control" name="category">
                                                        {% for category in categories %}
                                                        <option value="{{category.id}}">{{category.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>sellers</label>
                                                        <select class="form-control" name="sellers">
                                                            {% for seller in sellers %}
                                                            <option value="{{seller.id}}">{{seller.username}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Owner</label>
                                                        <select class="form-control" name="owner">
                                                            {% for own in owner %}
                                                            <option value="{{own.id}}">{{own.name}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="modal-footer justify-content-between">
                                                        <button type="button" class="btn btn-default"
                                                            data-dismiss="modal">Close</button>
                                                        <input type="submit" class="btn btn-primary"
                                                            value="Save changes">
                                                    </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="modal-default_delete_{{shop.id}}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Delete Shops Information</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <h3>Are you sure you want to delete shop of
                                                <b>{{shop.name}}</b>
                                            </h3>
                                            <a href="{% url 'DeleteShop' shop.id %}"
                                                class="btn btn-sm bg-danger-light text-right">
                                                Delete
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
                <div class="modal fade" id="modal-default_add">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Add Shops Information</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form enctype="multipart/form-data" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label class="text text-left">Name</label>
                                        <input type="text" name="name" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Location</label>
                                        <input type="text" name="location" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Is main Branch</label>
                                        <input type="chexbox" name="is_main_branch" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Category</label>
                                        <select class="form-control" name="category">
                                            {% for category in categories %}
                                            <option value="{{category.id}}">{{category.name}}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="form-group">
                                            <label>sellers</label>
                                            <select class="form-control" name="sellers">
                                                {% for seller in sellers %}
                                                <option value="{{seller.id}}">{{seller.username}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Owner</label>
                                            <select class="form-control" name="owner">
                                                {% for own in owner %}
                                                <option value="{{own.id}}">{{own.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="modal-footer justify-content-between">
                                            <button type="button" class="btn btn-default"
                                                data-dismiss="modal">Close</button>
                                            <input type="submit" class="btn btn-primary" value="Save changes">
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true,
            "lengthChange": false,
            "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    });
</script>
{% load static %} {% include "includes/footer.html" %}