{% load static %} {% include "includes/header.html" %} {% include "includes/sidebar.html" %}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Levels</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active">Classes</li>
                    </ul>
                </div>
                <div class="col-auto text-right float-right ml-auto">
                    <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
                    <a href="{% url 'StudentClassAdd' %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table id="example1" class="table table-hover table-center mb-0">
                    <thead>
                        <tr>
                            <th>S/N</th>
                            <th>Name</th>
                            <th>classartment</th>
                            <th class="text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for class in studentClasss %}
                        <tr>
                            <td>
                                {{class.id}}
                            </td>
                            <td>

                                {{class.name}}
                            </td>
                            <td>
                                {{class.level.name}}
                            </td>
                            <td class="text-right">
                                <div class="actions">
                                    <a href="{% url 'StudentClassEdit' class.id %}" class="btn btn-sm bg-success-light mr-2">
                                        <i class="fas fa-pen"></i>
                                    </a>

                                    <a class="btn btn-sm bg-success-light mr-2" data-toggle="modal" data-target="#modal-default_delete_{{class.id}}" href="#edit_personal_details">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <div class="modal fade" id="modal-default_delete_{{class.id}}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Delete Info</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                 <span aria-hidden="true">&times;</span>
                              </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <h3>Are you sure you want to delete class of
                                                <b>{{class.name}}</b>
                                            </h3>
                                            <a href="{% url 'StudentClassDelete' class.id %}" class="btn btn-sm bg-danger-light text-right">
                                    Delete
                                 </a>
                                        </div>
                                    </div>

                                    </td>
                                    </tr>
                                    {% endfor %}
                    </tbody>
                </table>
                </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    {% load static %} {% include "includes/footer.html" %}