{% load static %} {% include "includes/header.html" %} {% include "includes/sidebar.html" %}

<div class="page-wrapper">
    <div class="content container-fluid">
       <div class="page-header">
          <div class="row align-items-center">
             <div class="col">
                <h3 class="page-title">Students</h3>
                <ul class="breadcrumb">
                   <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                   <li class="breadcrumb-item active">Students</li>
                </ul>
             </div>
             <div class="col-auto text-right float-right ml-auto">
                <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
                <a href="{% url 'studentAdd' %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-sm-12">
             <div class="card card-table">
                <div class="card-body">
                   <div class="table-responsive">
                      <table class="table table-hover table-center mb-0 datatable">
                         <thead>
                            <tr>
                               <th>ID</th>
                               <th>Photo</th>
                               <th>Name</th>
                               <th>Gender</th>
                               <th>Course</th>
                               <th>Class</th>
                               <th>DOB</th>
                               <th>Mobile Number</th>
                               <th class="text-right">Action</th>
                            </tr>
                         </thead>
                         <tbody>
                           {% for st in stud %}
                            <tr>
                               <td>{{st.registration_no}}</td>
                               <td>
                                  <h2 class="table-avatar">
                                     <a href="student-details.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" 
                                       {% if st.photo %}
                                       src="{% static st.photo.url %}">
                                       {% else %}
                                       src="{% static 'assets/img/profiles/avatar-01.jpg' %}">
                                       {% endif %}
                                       </a>
                                  </h2>
                               </td>
                               <th>{{st.name}}</th>
                               <td>{{st.gender}}</td>
                               <td>{{st.course.name}}</td>
                               <td>{{st.classCurrent.name}}</td>
                               <td>{{st.date_of_birth}}</td>
                               <td>{{st.phone_number}}</td>
                               <td class="text-right">
                                  <div class="actions">
                                    <a class="btn btn-sm bg-success-light mr-2" data-toggle="modal" data-target="#modal-default_{{st.id}}"
                                    href="#edit_personal_details"><i class="fas fa-pen"></i></a>                                     
                                     </a>
                                     <a href="{% url 'studentDelete' st.id %}" class="btn btn-sm bg-danger-light">
                                     <i class="fas fa-trash"></i>
                                     </a>
                                  </div>
                               </td>
                            </tr>
                            
<div class="modal fade" id="modal-default_{{st.id}}">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h4 class="modal-title">Student Information</h4>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
          <form action="{% url 'updateStudent' %}" enctype="multipart/form-data" method="POST">
             {% csrf_token %}
                <div class="form-group">
                  <label>Full Name</label>
                  <input type="text" name="name" value="{{st.name}}" class="form-control">
            </div>
               <div class="form-group">
                  <label>Index Number</label>
                  <input type="text" name = "index_number" value="{{st.registration_no}}" class="form-control">
            </div>
               <div class="form-group">
                  <label>Gender</label>
                  <select name="gender" class="form-control">
                     <option value="Female">Female</option>
                     <option value="Male">Male</option>
                  </select>
            </div>
               <div class="form-group">
                  <label>Date of Birth</label>
                     <input type="date" name="bod" value="{{st.date_of_birth}}" class="form-control">
            </div>
               <div class="form-group">
                    <label>Couse</label>                           
                    <select class="form-control" name= "class_level">
                       {% for course in Courses %}
                       <option value="{{course.id}}">{{course.name}}</option>
                       {% endfor %}
                    </select>
           </div>
              <div class="form-group">
                    <label>Class</label>                           
                    <select class="form-control" name= "class_level">
                       {% for class_ in current_class %}
                       <option value="{{class_.id}}">{{class_.name}}</option>
                       {% endfor %}
                    </select>
           </div>
              <div class="form-group">
                  <label>Phone Number</label>
                  <input type="text" name="phone_no" value="{{st.phone_number}}" class="form-control">
            </div>
               <div class="form-group">
                  <label>Email</label>
                  <input type="email" name="Email" value="{{st.user.email}}" class="form-control">
            </div>
               <div class="form-group">
                  <label>Student Image</label>
                  <input type="file" class="form-control">
            </div>

       <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Save changes">
        </div>
          </form>
       </div>
     </div>
                            {% endfor %}
                         </tbody>
                      </table>
                   </div>
                </div>
             </div>
             
          </div>
       </div>
    </div>
{% load static %} {% include "includes/footer.html" %}